
body{
    padding: 25px;
}
.main{
    display: flex;
    flex-direction: row;
}

.img-logo{
    width: 5%;
}
.main-principal{
    border: black 2px;
    background-color: aqua;
}
.main-secundario{
    height: 40%;
    border-radius: 15%;
    background-color: burlywood;
}
.main-secundario-imagen{
}